#section_footer {
	background-color: #222;
	padding-top: 20px;
}

.botonNuevo{
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.oculto{
	display: none;
}


.marginTopBottom{
	margin-top: 1em;
	margin-bottom: 1em;
}

#map {
	height:400px;
}

/*overide bootsrap*/
/*.navbar {
    margin-bottom: 0px !important;
}*/
